#set($tablecomment = "")
#set($tabletype = "")
#foreach($e in $table.comment.split(","))
        #if( $foreach.count == 1 )
                #set($tablecomment = $e)
        #elseif( $foreach.count == 2 )
                #set($tabletype = $e)
        #end
#end
package ${package.Controller};

import com.xiaoleilu.hutool.date.DateUtil;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Controller;
import com.baomidou.mybatisplus.mapper.EntityWrapper;
import ${package.Entity}.${entity};
import ${package.Service}.${table.serviceName};
import com.baomidou.mybatisplus.plugins.Page;
import com.mysiteforme.admin.util.LayerData;
import com.mysiteforme.admin.util.RestResponse;
import com.mysiteforme.admin.annotation.SysLog;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.ResponseBody;

import java.util.Date;
import org.apache.commons.lang3.StringUtils;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.ui.Model;
import org.springframework.web.bind.annotation.*;
import org.springframework.web.util.WebUtils;

import javax.servlet.ServletRequest;
import java.util.List;
import java.util.Map;

/**
 * <p>
 * ${tablecomment}  前端控制器
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Controller
@RequestMapping("#if(${package.ModuleName})/${package.ModuleName}#end/#if(${controllerMappingHyphenStyle})${controllerMappingHyphen}#else${table.entityPath}#end")
public class ${table.controllerName} {
    private static final Logger LOGGER = LoggerFactory.getLogger(${table.controllerName}.class);

    @Autowired
    private ${entity}Service ${table.entityPath}Service;

    @GetMapping("list")
    @SysLog("跳转${tablecomment}列表")
    public String list(){
        return "#if(${package.ModuleName})/${package.ModuleName}#end/#if(${controllerMappingHyphenStyle})${controllerMappingHyphen}#else${table.entityPath}#end/list";
    }

    @PostMapping("list")
    @ResponseBody
    @SysLog("请求${tablecomment}列表数据")
    public LayerData<${entity}> list(@RequestParam(value = "page",defaultValue = "1")Integer page,
                                      @RequestParam(value = "limit",defaultValue = "10")Integer limit,
                                      ServletRequest request){
        Map map = WebUtils.getParametersStartingWith(request, "s_");
        LayerData<${entity}> layerData = new LayerData<>();
        EntityWrapper<${entity}> wrapper = new EntityWrapper<>();
        wrapper.eq("del_flag",false);
        if(!map.isEmpty()){
#foreach($field in ${table.fields})
#set($comment = "")
#set($type = "")
#set($isNullAble = true)
#set($defaultValue = false)
#set($listIsShow = true)
#set($listIsSearch = false)
#foreach( $e in $field.comment.split(","))
#if( $foreach.count == 1 )
#set($comment = $e)
#elseif( $foreach.count == 2 )
#set($type = $e)
#elseif( $foreach.count == 3)
#if($e == "YES")
#set($isNullAble = true)
#else
#set($isNullAble = false)
#end
#elseif( $foreach.count == 4)
#if($e == "true")
#set($defaultValue = true)
#else
#set($defaultValue = false)
#end
#elseif($foreach.count == 5)
#if($e == "true")
#set($listIsShow = true)
#else
#set($listIsShow = false)
#end
#elseif($foreach.count == 6)
#if($e == "true")
#set($listIsSearch = true)
#else
#set($listIsSearch = false)
#end
#end
#end
#if($listIsSearch == true)
#if($type == "timer")
            String begin${field.capitalName} = (String) map.get("begin${field.capitalName}");
            String end${field.capitalName} = (String) map.get("end${field.capitalName}");
            if(StringUtils.isNotBlank(begin${field.capitalName})) {
                Date begin = DateUtil.parse(begin${field.capitalName});
                wrapper.ge("${field.name}",begin);
            }else{
                map.remove("begin${field.capitalName}");
            }
            if(StringUtils.isNotBlank(end${field.capitalName})) {
                Date end = DateUtil.parse(end${field.capitalName});
                wrapper.le("${field.name}",end);
            }else{
                map.remove("end${field.capitalName}");
            }
#else
            String ${field.propertyName} = (String) map.get("${field.propertyName}");
            if(StringUtils.isNotBlank(${field.propertyName})) {
#if($type == "switch" && $defaultValue == true)
                if(${field.propertyName}.equalsIgnoreCase("true")){
                    wrapper.eq("${field.name}",true);
                }else if(${field.propertyName}.equalsIgnoreCase("false")){
                    wrapper.eq("${field.name}",false);
                }else{
                    map.remove("${field.propertyName}");
                }
#elseif($type == "input" || $type == "textarea" || $type == "editor")
                wrapper.like("${field.name}",${field.propertyName});
#elseif($type == "select" || $type == "radio" || $type == "checkbox")
                wrapper.eq("${field.name}",${field.propertyName});
#end
            }else{
                map.remove("${field.propertyName}");
            }
#end

#end
#end
        }
        Page<${entity}> pageData = ${table.entityPath}Service.selectPage(new Page<>(page,limit),wrapper);
        layerData.setData(pageData.getRecords());
        layerData.setCount(pageData.getTotal());
        return layerData;
    }

    @GetMapping("add")
    @SysLog("跳转新增${tablecomment}页面")
    public String add(){
        return "#if(${package.ModuleName})/${package.ModuleName}#end/#if(${controllerMappingHyphenStyle})${controllerMappingHyphen}#else${table.entityPath}#end/add";
    }

    @PostMapping("add")
    @SysLog("保存新增${tablecomment}数据")
    @ResponseBody
    public RestResponse add(${entity} ${table.entityPath}){
#foreach($field in ${table.fields})
#set($comment = "")
#set($type = "")
#set($isNullAble = true)
#set($defaultValue = false)
#set($listIsShow = true)
#set($listIsSearch = false)
#foreach( $e in $field.comment.split(","))
#if( $foreach.count == 1 )
#set($comment = $e)
#elseif( $foreach.count == 2 )
#set($type = $e)
#elseif( $foreach.count == 3)
#if($e == "YES")
#set($isNullAble = true)
#else
#set($isNullAble = false)
#end
#elseif( $foreach.count == 4)
#if($e == "true")
#set($defaultValue = true)
#else
#set($defaultValue = false)
#end
#elseif($foreach.count == 5)
#if($e == "true")
#set($listIsShow = true)
#else
#set($listIsShow = false)
#end
#elseif($foreach.count == 6)
#if($e == "true")
#set($listIsSearch = true)
#else
#set($listIsSearch = false)
#end
#end
#end
#if($isNullAble == false)
#if(${field.propertyType.equals("String")})
        if(StringUtils.isBlank(${table.entityPath}.get${field.capitalName}())){
            return RestResponse.failure("${comment}不能为空");
        }
#else
        if(${table.entityPath}.get${field.capitalName}() == null){
            return RestResponse.failure("${comment}不能为空");
        }
#end
#end
#end
        ${table.entityPath}Service.insert(${table.entityPath});
        return RestResponse.success();
    }

    @GetMapping("edit")
    @SysLog("跳转编辑${tablecomment}页面")
    public String edit(Long id,Model model){
        ${entity} ${table.entityPath} = ${table.entityPath}Service.selectById(id);
        model.addAttribute("${table.entityPath}",${table.entityPath});
        return "#if(${package.ModuleName})/${package.ModuleName}#end/#if(${controllerMappingHyphenStyle})${controllerMappingHyphen}#else${table.entityPath}#end/edit";
    }

    @PostMapping("edit")
    @ResponseBody
    @SysLog("保存编辑${tablecomment}数据")
    public RestResponse edit(${entity} ${table.entityPath}){
        if(null == ${table.entityPath}.getId() || 0 == ${table.entityPath}.getId()){
            return RestResponse.failure("ID不能为空");
        }
#foreach($field in ${table.fields})
#set($comment = "")
#set($type = "")
#set($isNullAble = true)
#set($defaultValue = false)
#set($listIsShow = true)
#set($listIsSearch = false)
#foreach( $e in $field.comment.split(","))
#if( $foreach.count == 1 )
#set($comment = $e)
#elseif( $foreach.count == 2 )
#set($type = $e)
#elseif( $foreach.count == 3)
#if($e == "YES")
#set($isNullAble = true)
#else
#set($isNullAble = false)
#end
#elseif( $foreach.count == 4)
#if($e == "true")
#set($defaultValue = true)
#else
#set($defaultValue = false)
#end
#elseif($foreach.count == 5)
#if($e == "true")
#set($listIsShow = true)
#else
#set($listIsShow = false)
#end
#elseif($foreach.count == 6)
#if($e == "true")
#set($listIsSearch = true)
#else
#set($listIsSearch = false)
#end
#end
#end
#if($isNullAble == false)
#if(${field.propertyType.equals("String")})
        if(StringUtils.isBlank(${table.entityPath}.get${field.capitalName}())){
            return RestResponse.failure("${comment}不能为空");
        }
#else
        if(${table.entityPath}.get${field.capitalName}() == null){
            return RestResponse.failure("${comment}不能为空");
        }
#end
#end
#end
        ${table.entityPath}Service.updateById(${table.entityPath});
        return RestResponse.success();
    }

    @PostMapping("delete")
    @ResponseBody
    @SysLog("删除${tablecomment}数据")
    public RestResponse delete(@RequestParam(value = "id",required = false)Long id){
        if(null == id || 0 == id){
            return RestResponse.failure("ID不能为空");
        }
        ${entity} ${table.entityPath} = ${table.entityPath}Service.selectById(id);
        ${table.entityPath}.setDelFlag(true);
        ${table.entityPath}Service.updateById(${table.entityPath});
        return RestResponse.success();
    }

}