package ${package.Entity}.DTO;

import ${package.Entity}.${entity};
#if(${entityLombokModel})

import lombok.Data;
import lombok.EqualsAndHashCode;
#end

#if(${entityLombokModel})
@Data
@EqualsAndHashCode(callSuper = true)
#end
public class ${entity}DTO extends ${entity} {

    private Integer page;
    private Integer limit;

}