#set($tablecomment = "")
#set($tabletype = "")
#foreach($e in $table.comment.split(","))
    #if( $foreach.count == 1 )
        #set($tablecomment = $e)
    #elseif( $foreach.count == 2 )
        #set($tabletype = $e)
    #end
#end
package ${package.ServiceImpl};

import org.springframework.beans.BeanUtils;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;

import ${package.Entity}.${entity};
import ${package.Mapper}.${table.mapperName};
import ${package.Service}.${table.serviceName};
import ${superServiceImplClassPackage};
import ${package.Entity}.DTO.${entity}DTO;


/**
 * <p>
 * $!{tablecomment} 服务实现类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Service
#if(${kotlin})
open class ${table.serviceImplName} : ${superServiceImplClass}<${table.mapperName}, ${entity}>(), ${table.serviceName} {

}
#else
@Transactional(rollbackFor = Exception.class)
public class ${table.serviceImplName} extends ${superServiceImplClass}<${table.mapperName}, ${entity}> implements ${table.serviceName} {

    @Override
    public void save${entity}DTO(${entity}DTO ${table.entityPath}DTO) {
        ${entity} ${table.entityPath} = new ${entity}();
        BeanUtils.copyProperties(${table.entityPath}DTO,${table.entityPath});
        baseMapper.insert(${table.entityPath});
    }
}
#end
