/server-admin/web/
/server-admin/target/
/server-admin/.idea/
/server-admin/.vscode/
/server-admin/.cursor/
/server-admin/.lingma/
/server-ui/node_modules/
/server-ui/.DS_Store
/server-ui/dist
/server-ui/dist-ssr
/server-ui/*.local
/server-ui/.cursorrules
/server-ui/*.mdc
/server-ui/.history
/server-ui/.cursor/
/web/
/target/
/.idea/
/.vscode/
/.cursor/
/.lingma/
