#set($tableMapKey="table_config_$!table.name")
package ${package.Mapper};

import ${package.Entity}.${entity};
import ${superMapperClassPackage};

/**
 * <p>
 * $!cfg[$tableMapKey].businessName Mapper 接口
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */

#if(${kotlin})
interface ${table.mapperName} : ${superMapperClass}<${entity}>
#else
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {

}
#end
