@use '@styles/variables.scss' as *;

.breadcrumb {
  margin-left: 10px;

  ul {
    display: flex;

    li {
      font-size: 13px;
      color: var(--art-text-gray-700) !important;

      span {
        font-size: 13px;
      }

      i {
        margin: 0 7px;
        font-size: 13px;
      }
    }
  }
}

@media only screen and (max-width: $device-ipad) {
  .breadcrumb {
    display: none;
  }
}
