<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mysiteforme.admin.dao.BlogChannelDao" >
    <!-- 这儿定义一个resultMap -->

    <resultMap type="com.mysiteforme.admin.entity.VO.ZtreeVO" id="getSelf">
        <id property="id" column="id"/>
        <result property="pid" column="pid"/>
        <result property="name" column="name"/>
        <collection property="children" select="selectZtreeData"  column="{pid = id}">
        </collection>
    </resultMap>

    <select id="selectZtreeData" resultMap="getSelf" parameterType="java.util.Map">
        select
        id,
        name,
        parent_id as "pid",
        sort,
        del_flag as "delFlag"
        from blog_channel where
        del_flag = false
        <choose>
            <when test="pid != null and pid!='' ">
                and parent_id = #{pid}
            </when>
            <otherwise>
                and parent_id is NULL
            </otherwise>
        </choose>
        order by sort desc
    </select>

    <resultMap id="getChannelSelf" type="com.mysiteforme.admin.entity.VO.BlogChannelVO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="parentId" column="parentId"/>
        <result property="level" column="level"/>
        <result property="parentIds" column="parentIds"/>
        <result property="sort" column="sort"/>
        <result property="siteId" column="siteId"/>
        <result property="logo" column="logo"/>
        <result property="baseChannel" column="isBaseChannel"/>
        <result property="canComment" column="canComment"/>
        <result property="noName" column="isNoName"/>
        <result property="canAduit" column="isCanAduit"/>
        <result property="seoTitle" column="seoTitle"/>
        <result property="seoKeywords" column="seoKeywords"/>
        <result property="seoDescription" column="seoDescription"/>
        <collection property="children" select="selectChannelData"  column="{parentId = id}">
        </collection>
    </resultMap>

    <select id="selectChannelData" resultMap="getChannelSelf" parameterType="java.util.Map">
        select
        id,
        name,
        parent_id as "parentId",
        parent_ids as "parentIds",
        level,
        sort,
        site_id as "siteId",
        logo,
        is_base_channel as "isBaseChannel",
        can_comment  as "canComment",
        is_no_name as "isNoName",
        is_can_aduit as "canAduit",
        seo_title as "seoTitle",
        seo_keywords as "seoKeywords",
        seo_description as "seoDescription",
        create_by as "createId",
        create_date as "createDate",
        update_by as "updateId",
        update_date as "updateDate",
        remarks,
        del_flag as "delFlag"
        from blog_channel where
        del_flag = false
        <choose>
            <when test="parentId != null and parentId!='' ">
                and parent_id = #{parentId}
            </when>
            <otherwise>
                and parent_id is NULL
            </otherwise>
        </choose>
        order by sort desc
    </select>


</mapper>