<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mysiteforme.admin.dao.BlogCommentDao" >

    <sql id="commentField">
        c.id,
        c.content,
        c.ip,
        c.system,
        c.browser,
        c.floor,
        c.type,
        c.channel_id  as "channelId",
        c.article_id  as "articleId",
        c.reply_id    as "replyId",
        c.is_admin_reply  as "isAdminReply",
        c.reply_content   as "replyContent",
        c.create_by       as "createId",
        c.create_date     as "createDate",
        c.update_by       as "updateId",
        c.update_date     as "updateDate",
        c.remarks,
        c.del_flag        as "delFlag"
    </sql>

    <resultMap id="baseMap" type="com.mysiteforme.admin.entity.BlogComment">
        <id column="id" property="id"/>
        <result column="content" property="content"/>
        <result column="ip" property="ip"/>
        <result column="system" property="system"/>
        <result column="browser" property="browser"/>
        <result column="type" property="type"/>
        <result column="floor" property="floor"/>
        <result column="channelId" property="channelId"/>
        <result column="articleId" property="articleId"/>
        <result column="replyId" property="replyId"/>
        <result column="isAdminReply" property="adminReply"/>
        <result column="replyContent" property="replyContent"/>
        <result column="updateDate" property="updateDate"/>
        <result column="createDate" property="createDate"/>
        <result column="remarks" property="remarks"/>
        <result column="delFlag" property="delFlag"/>
    </resultMap>

    <resultMap id="detailComment" extends="baseMap" type="com.mysiteforme.admin.entity.BlogComment">
        <collection property="replayList" ofType="com.mysiteforme.admin.entity.BlogComment">
            <id property="id" column="replayList.id" />
            <result property="content" column="replayList.content" />
            <result property="createDate" column="replayList.createDate" />
            <result property="ip" column="replayList.ip" />
            <result property="system" column="replayList.system" />
            <result property="browser" column="replayList.browser" />
            <result property="floor" column="replayList.floor" />
        </collection>
    </resultMap>

    <select id="selectArticleComments" resultMap="detailComment">
        select
        <include refid="commentField" />,
        replay.id         as "replayList.id",
        replay.content    as "replayList.content",
        replay.create_date as "replayList.createDate",
        replay.ip         as "replayList.ip",
        replay.system     as "replayList.system",
        replay.browser    as "replayList.browser",
        replay.floor      as "replayList.floor"
        from
        (select * from blog_comment where
          del_flag = false
        and reply_id is null
        <if test="articleId != null and articleId != 0">
            and article_id = #{articleId}
        </if>
        <if test="type != null and (type == 1 or type == 2)">
            and type = #{type}
        </if>
        order by floor desc
        limit #{start},#{limit}) c
        left join (select * from blog_comment where del_flag = false and reply_id is not null) replay on replay.reply_id = c.id
    </select>

    <select id="selectArticleCommentsCount" resultType="java.lang.Integer">
        select COUNT(*) from blog_comment where
          del_flag = false
          and reply_id is null
        <if test="articleId != null and articleId != 0">
            and article_id = #{articleId}
        </if>
        <if test="type != null and (type == 1 or type == 2)">
            and type = #{type}
        </if>
        order by floor desc
    </select>


    <resultMap id="plusMap" type="com.mysiteforme.admin.entity.BlogComment" extends="baseMap">
        <collection property="replayList" column="id" ofType="com.mysiteforme.admin.entity.BlogComment" select="getCommentByReplyId" notNullColumn="replyId" />
    </resultMap>
    
    <select id="getCommentByReplyId" resultType="com.mysiteforme.admin.entity.BlogComment">
            select
            <include refid="commentField" />
            from blog_comment c
            where
            c.del_flag = false
            and c.reply_id = #{replyId}
            order by c.create_date desc
    </select>

    <select id="selectArticleCommentsByPlus" resultMap="plusMap">
        select
        <include refid="commentField" />,
        u.icon  as "updateUser.icon",
        u.login_name as "updateUser.loginName",
        u.nick_name as "updateUser.nickName",
        u.id        as "updateUser.id"
        from blog_comment c
        left join sys_user u on u.id = c.update_by
        where
        c.del_flag = false
        and c.reply_id is null
        <if test="articleId != null and articleId != 0">
            and c.article_id = #{articleId}
        </if>
        <if test="type != null and (type == 1 or type == 2)">
            and c.type = #{type}
        </if>
        order by c.floor desc
    </select>
</mapper>