.register {
  .right-wrap {
    .login-wrap {
      .form {
        .el-form {
          margin-top: 20px;
        }

        .privacy-policy {
          margin-top: 15px;

          :deep(.el-checkbox__label) {
            color: #333 !important;
          }

          a {
            color: var(--main-color);
            text-decoration: none;
          }
        }

        .register-btn {
          width: 100%;
          height: 40px !important;
        }
      }
    }
  }
}
