<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mysiteforme.admin.dao.LogDao" >

    <select id="selectSelfMonthData" resultType="java.util.Map">
        SELECT
        count(log.remote_addr) AS total,
        DATE_FORMAT(
        log.create_date,
        '%Y-%m-%d'
        ) AS days
        FROM
        (
        SELECT
        remote_addr,
        create_date
        FROM
        sys_log
        WHERE
        remote_addr IS NOT NULL
        GROUP BY
        remote_addr
        ) AS log
        GROUP BY DAY(create_date)
        ORDER BY days DESC
        limit 15
    </select>

</mapper>