<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mysiteforme.admin.dao.RoleDao" >
    <!-- 这儿定义一个resultMap -->
    <resultMap type="com.mysiteforme.admin.entity.Role" id="RoleMap">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="remarks" column="remarks"/>
        <result property="delFlag" column="del_flag"/>
        <collection property="menuSet"  ofType="com.mysiteforme.admin.entity.Menu">
            <result property="id" column="menuSet.id"/>
            <result property="name" column="menuSet.name"/>
            <result property="permission" column="menuSet.permission"/>
            <result property="icon" column="menuSet.icon"/>
            <result property="href" column="menu.href"/>
            <result property="bgColor" column="menu.bgColor"/>
        </collection>
    </resultMap>

    <select id="selectRoleById" resultMap="RoleMap"  parameterType="java.lang.Long">
        SELECT
        r.id,
        r.name,
        r.remarks,
        r.del_flag,
        m.id  	        AS 	"menuSet.id",
        m.name          AS  "menuSet.name",
        m.permission    AS  "menuSet.permission",
        m.icon          AS  "menuSet.icon",
        m.href      	AS 	"menu.href",
        m.bg_color      AS  "menu.bgColor"
        from
        sys_role r
        left join sys_role_menu  srm 	on 	    srm.role_id = r.id
        left join sys_menu  m    		on 	    m.id = srm.menu_id
        where
        r.del_flag = FALSE
        <if test="id != 0 or id != null">
         and r.id = #{id}
        </if>
    </select>

    <insert id="saveRoleMenus">
        insert into sys_role_menu(role_id,menu_id)
        values
        <foreach collection="menus" item="m" index="index" separator="," >
            (#{roleId},#{m.id})
        </foreach>
    </insert>

    <delete id="dropRoleMenus" parameterType="java.lang.Long">
        delete from sys_role_menu where role_id = #{roleId}
    </delete>

    <delete id="dropRoleUsers" parameterType="java.lang.Long">
        delete from sys_user_role where role_id = #{roleId}
    </delete>
</mapper>